*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/home.png);
    background-size : cover;
    background-position: center;
}

.container{
    color: #fff;
    padding: 3px 3%;
}
/* .img-alt{
    display: flex;
    justify-content: space-between;
    
} */
.container hr{
    height: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav h1{
    color: #c27415;
    font-size: 40px;
    padding: 3px 0;
}
/* .LOGO{
    width: 150px;
} */
nav ul li{
    /* list-style: none; */
    
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #c27415;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-txt{
    margin-top: 15%;
    font-weight: 300;
    padding: 3px 3%;
}
.header-txt p{
    color: #fdfdfd;
    font-weight: 370;
    font-size: 24px;
    
}
.header-txt h1{
    font-size: 65px;
    margin-top: 20px;
}
.header-txt h1 span{
    color: #c27415;
}
/* about me */
#about{
    background-color: rgb(195, 119, 6);
    padding: 70px 0;
}

.row{
    font-weight: 360;
    font-size: 19px;
    color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 43%;
}
.about-col-1 img{
    width: 590px;
    height: 750px;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 55%;
}
.about-col-2 h2{
    color: #000;
    font-size: 38px; 
}

.subtitle{
    margin-top: 1px;
    font-size: 50px;
    font-weight: 500;
    text-justify: auto;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 40px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 5px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
.tab-links.active-link::after{
    width: 100%;
    transition: 0.5s;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* Service */
#service{
    background: #fffffff7;
    padding: 50px 0;
    
}
.para{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}
.subtitle1{
    font-size: 65px;
    font-weight: 500;
    color: #000;
    text-justify: auto;
}

.service-list{
    display: flex;
    grid-gap: 40px;
    margin-top: 30px;
    flex-direction: column;
    
}
.service-list div{
    background: #232222;
    padding: 60px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 30px;
    transition: background 1s,transform 1s;
    color: #000;
    font-style: italic;
    width: auto;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    
    
}
/* .service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
} */
.service-list div:hover{
    background: #f9fafaf7;
    transform: translateY(-10px);
} 
#portfolio{
    padding: 50px 0;
    background: #52035e;
    
}
.para1{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}
.subtitle2{
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    text-justify: auto;
}
.work-list{
    display: flex;
    grid-template-columns: repeat(auto, minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-content: center;
    margin-top: 3px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.work img{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1200px;
    border-radius: 20px;
    display: flexbox;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(10, 9, 10, 0.6), #4c035c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;

}
.layer h2{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
    color: #fdfdfd;
}
.layer p{
    color: #ffffff;
}
.layer a{
    margin-top: 20px;
    color: #580265;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: height 1s;
}
.work:hover img{
    transform: scale(1.4);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e18009;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #fcfcfc;
}
/*--------------contact------------*/
#contact{
    background: #ffffff;
    color: #000000;
}
.subtitle3{
    font-size: 70px;
    font-weight: 600;
    color: #060606;
    text-justify: auto;
}
.contact-left{
    margin-top: 30px;
    flex-basis: 35%;
}
.contact-right{
    margin-top: 30px;
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: #000;
    font-weight: 400;
}
.contact-left p i{
    color:  rgb(0, 0, 0);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons  a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(5, 5, 5);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons  a:hover{
    color: #e18009;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #000000;
    color: #ffffff;
    font-weight: 400;
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(55, 52, 52);
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;

}
form input::placeholder{
    color: #ffffff;
}
form textarea::placeholder{
    color: #fff;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(54, 52, 52);
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}
/*-----------css for small screens---------*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/home1.png);
    }
    .header-txt{
        font-size: 30px;
    }
    .header-txt p{
        font-size: 20px;
        font-weight: 500;
    }
    .header-txt h1{
        font-size: 30px;
    }
    .header-txt h1 span{
        color: #e18009;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav h1{
        font-size: 30px;
    }
    nav ul{
        background: #c27415;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        position: relative;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #070707;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 100%;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 50px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 10px;
    }
    .about-col-1 img {
    height: 350px;
    width: 300px;
    margin-top: 0;
}
    .about-col-2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 10px;
        padding: 23px;
        margin-right: 0px;

    }
    .tab-links{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 10px;
        margin-right: 30px; 
    }
    .tab-contents.active-tab{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 10px;
        
    }
    .subtitle1{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 5px;
        font-size: 50px;
        font-weight: 500;
    }
    .subtitle2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 5px;
        font-size: 50px;
        font-weight: 500;
    }
    .work-list{
        display: flex;
        grid-template-columns: repeat(auto, minmax(250px,1fr));
        grid-gap: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
        height: 270%;
        width: 100%;

        
    }
    .work img{
        height: 300px;
        width: 100%;
        border-radius: 10px;
        display: flexbox;
        transition: transform 0.5s;
    }
    .layer h2{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 1px;
    }
    .layer a{
        margin-top: 20px;
        color: #970bac;
        text-decoration: none;
        font-size: 15px;
        line-height: 30px;
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        transition: height 1s;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
